<?xml version = "1.0" encoding = "UTF-8"?>

<widget xmlns = "http://www.w3.org/ns/widgets" 
   xmlns:gap = "http://phonegap.com/ns/1.0" id = "addition2004" version = "1.0.1.1">
   
   <name>NavBTable 2</name>
   
   <description>
      NavBTable 2
   </description>
   
   <author href = "http://ateektradersknp.com" email = "jameelk99@gmail.com">
      NavBTable 2
   </author>
   
   <preference name="permissions"                value="none"/>

    <!-- Customize your app and platform with the preference element. -->
    <preference name="orientation"                value="default" />        <!-- all: default means both landscape and portrait are enabled -->
    <preference name="target-device"              value="universal" />      <!-- all: possible values handset, tablet, or universal -->
    <preference name="fullscreen"                 value="true" />           <!-- all: hides the status bar at the top of the screen -->
    
   
   <icon src = "appIcon.png" 
      gap:platform = "android" gap:qualifier = "ldpi" />
		
   <icon src = "appIcon.png" 
      gap:platform = "android" gap:qualifier = "mdpi" />
		
   <icon src = "appIcon.png" 
      gap:platform = "android" gap:qualifier = "hdpi" />
		
   <icon src = "appIcon.png" 
      gap:platform = "android" gap:qualifier = "xhdpi" />
		
   <icon src = "appIcon.png" 
      gap:platform = "android" gap:qualifier = "xxhdpi" />
   
   <icon src = "res/icon/ios/Icon-72.png" gap:platform = "ios" gap:qualifier = ""/>
   <icon src = "res/icon/ios/icon-57.png" gap:platform = "ios" width = "57" height = "57" />
   <icon src = "res/icon/ios/icon-72.png" gap:platform = "ios" width = "72" height = "72" />
   <icon src = "res/icon/ios/icon-57-2x.png" gap:platform = "ios" width = "114" height = "114" />
   <icon src = "res/icon/ios/icon-72-2x.png" gap:platform = "ios" width = "144" height = "144" />
   
</widget>
